.user__menu {
  display: flex;
  align-items: center;
  margin-right: 18px;
}
.user__email {
  color: white;
  margin-right: 14px;
}

.logout__btn {
  display: inline-block;
  padding: 8px 6px;
  border: 0;
  border-radius: 15px;
  min-width: 80px;

  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  background-color: #f87719;
  color: white;
}
.logout__btn:hover {
  background-color: orangered;
  opacity: 1;
}
